<div style='padding:10px'>
  <h1 style='color: teal; font-family: arial; font-size: 24px'>
    <%= @article.title %>
  </h1>
  <p style='color: DimGray; font-family: arial; font-size: 16px'>
    <%= @article.body %>
  </p>

  <div style='display: flex; padding-bottom: 20px'>
    <div>
      <%= link_to "Edit", edit_article_path(@article) %>
    </div>
    <div style='padding-left: 8px; padding-bottom: 20px'>
      <%= link_to "Delete", article_path(@article), data: {
                              turbo_method: :delete,
                              turbo_confirm: "Are you sure?"
      } %>
    </div>
  </div>

  <div style='padding-bottom: 20px'>
  <h2 style='color: teal; font-family: arial; font-size: 18px'>Comments:<h2>
    <%= render @article.comments%>
  </div>

  <h2 style='color: teal; font-family: arial; font-size: 18px'>Add a comment:<h2>
  <%= render 'comments/form' %>
</div>